$primary-background-color: #cfe8fc;
$secondary-background-color: #f1f7fe;

$primary-font: 'Quicksand', sans-serif;
$secondary-font: 'Inter', sans-serif;

$primary-font-size: 32px;
$secondary-font-size: 24px;
