@use '../../styles/variables.scss';

.register-container {
  height: 100vh;
  background-color: variables.$primary-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .sign-up {
    background-color: variables.$secondary-background-color;
    font-family: variables.$primary-font;
    border-radius: 15px;
  }
  .form-container {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: variables.$primary-font-size;
    }
  }

  .input-wrapper {
    background-color: variables.$secondary-background-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-field {
      padding: 15px;
      margin: 15px;
      background-color: #fff;
      width: 50%;
      border-radius: variables.$primary-desktop-radius;

      label {
        margin-left: 20px;
        font-size: 20px;
      }
    }
  }

  p,
  span {
    font-family: variables.$secondary-font;
    font-size: variables.$font-size-2;
  }

  .clickable-link {
    cursor: pointer;
  }
  Button {
    font-family: variables.$primary-font;
    color: #fff;
    background-color: variables.$button-background-color;
    width: 200px;
    border-radius: variables.$primary-desktop-radius;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  Button:hover {
    background-color: #0c60b2;
  }
  .terms-and-conditions {
    display: flex;
  }
  .account-exist {
    display: flex;
    align-items: center;
    font-size: variables.$font-size-2;
    font-family: variables.$secondary-font;
    p {
      margin: 0;
    }
    .link-login {
      margin: 10px;
      text-decoration: none;
    }
    .link-login:visited {
      color: #000;
    }
  }
}
