@import '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:ital,wght@1,300&family=Source+Sans+Pro:wght@300&display=swap');

.header-container {
  width: 100%;
  background-color: #5cdb95;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    align-items: center;
    img {
      height: 80px;
    }
    h2 {
      color: #05386b;
      font-family: $primary-font;
      font-size: $primary-font-size;
      margin-left: 20px;
      margin-right: 15px;
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    .button {
      font-family: $secondary-font;
      margin: 15px;
      border-radius: $primary-desktop-radius;
      background-color: #05386b;
      color: #edf5e1;
    }
  }
}
